<style  type="text/css"> 
cool {
  width: 100px;
  height: 100px;
  background-color: red;
  position: relative;
  -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes example {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}


}

</style>

<b><center>
    <span style="font-size: 24pt; line-height: 1.2;">COMS W4111: Introduction to Databases</span><br>
    <span style="font-size: 24pt; line-height: 1.2;">Section 002, Spring, 2020</span><br>
</center></b>
<br><br>
<i><center>
<span style="font-size: 20pt; line-height: 1.2;">Lecture 1: Introduction, Course Overview, Foundational Concepts</span>
</center></i>

__Note:__ Modifying width of cells for wider displays.

In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:80% !important; }</style>"))
display(HTML("<style>.output_result { max-width:80% !important; }</style>"))
display(HTML("<style>.prompt { display:none !important; }</style>"))

# Lecture Material

- The [lecture slides](https://github.com/donald-f-ferguson/W4111_S21/blob/main/Lectures/Lecture_1_Introduction_Foundations/Lecture_1_Introduction_Foundations.pptx) contain the lecture material, slides, etc.


- The Jupyter notebook is for running example code and sample applications.

# Examples

## A Jupyter Magic for Accessing SQL

In [3]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [4]:
%magic

## Connect to a Database (Server)

In [5]:
%sql mysql+pymysql://dbuser:dbuserdbuser@localhost

'Connected: dbuser@None'

## Run a Simple Query

In [8]:
%sql select playerId, nameLast as lastName, nameFirst as firstName, birthCity, birthState, birthCountry, birthYear, deathYear, bats, throws, 0 as popularity \
    from lahmansbaseballdb2.people where nameLast='Williams' and birthState='CA';

 * mysql+pymysql://dbuser:***@localhost
11 rows affected.

[('willibe01', 'Williams', 'Bernie', 'Alameda', 'CA', 'USA', 1948, None, 'R', 'R', 0),
 ('willido02', 'Williams', 'Don', 'Los Angeles', 'CA', 'USA', 1935, 1991, 'R', 'R', 0),
 ('williji03', 'Williams', 'Jimy', 'Santa Maria', 'CA', 'USA', 1943, None, 'R', 'R', 0),
 ('willike02', 'Williams', 'Ken', 'Berkeley', 'CA', 'USA', 1964, None, 'R', 'R', 0),
 ('willima04', 'Williams', 'Matt', 'Bishop', 'CA', 'USA', 1965, None, 'R', 'R', 0),
 ('willimi02', 'Williams', 'Mitch', 'Santa Ana', 'CA', 'USA', 1964, None, 'L', 'L', 0),
 ('williri02', 'Williams', 'Rinaldo', 'Santa Cruz', 'CA', 'USA', 1893, 1966, 'L', 'R', 0),
 ('williri03', 'Williams', 'Rick', 'Merced', 'CA', 'USA', 1952, None, 'R', 'R', 0),
 ('willish01', 'Williams', 'Shad', 'Fresno', 'CA', 'USA', 1971, None, 'R', 'R', 0),
 ('willite01', 'Williams', 'Ted', 'San Diego', 'CA', 'USA', 1918, 2002, 'L', 'R', 0),
 ('willitr01', 'Williams', 'Trevor', 'San Diego', 'CA', 'USA', 1992, None, 'R', 'R', 0)]

## Simple Program

In [17]:
import pymysql

conn = pymysql.connect(
    host="localhost",
    user="dbuser",
    password="dbuserdbuser",
    cursorclass=pymysql.cursors.DictCursor
)

In [18]:
sql = """
select playerId, nameLast as lastName, nameFirst as firstName, birthCity, birthState, birthCountry, birthYear, deathYear, 
    bats, throws, 0 as popularity 
    from lahmansbaseballdb2.people where nameLast='Williams' and birthState='CA';
"""
cur = conn.cursor()
res = cur.execute(sql)
res = cur.fetchall()
res

[{'playerId': 'willibe01',
  'lastName': 'Williams',
  'firstName': 'Bernie',
  'birthCity': 'Alameda',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1948,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willido02',
  'lastName': 'Williams',
  'firstName': 'Don',
  'birthCity': 'Los Angeles',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1935,
  'deathYear': 1991,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'williji03',
  'lastName': 'Williams',
  'firstName': 'Jimy',
  'birthCity': 'Santa Maria',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1943,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willike02',
  'lastName': 'Williams',
  'firstName': 'Ken',
  'birthCity': 'Berkeley',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1964,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willima04',
  'lastName': 'Williams',
  'firstName': 'Matt',
  'birthCity': 'Bishop',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1965,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willimi02',
  'lastName': 'Williams',
  'firstName': 'Mitch',
  'birthCity': 'Santa Ana',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1964,
  'deathYear': None,
  'bats': 'L',
  'throws': 'L',
  'popularity': 0},
 {'playerId': 'williri02',
  'lastName': 'Williams',
  'firstName': 'Rinaldo',
  'birthCity': 'Santa Cruz',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1893,
  'deathYear': 1966,
  'bats': 'L',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'williri03',
  'lastName': 'Williams',
  'firstName': 'Rick',
  'birthCity': 'Merced',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1952,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willish01',
  'lastName': 'Williams',
  'firstName': 'Shad',
  'birthCity': 'Fresno',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1971,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willite01',
  'lastName': 'Williams',
  'firstName': 'Ted',
  'birthCity': 'San Diego',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1918,
  'deathYear': 2002,
  'bats': 'L',
  'throws': 'R',
  'popularity': 0},
 {'playerId': 'willitr01',
  'lastName': 'Williams',
  'firstName': 'Trevor',
  'birthCity': 'San Diego',
  'birthState': 'CA',
  'birthCountry': 'USA',
  'birthYear': 1992,
  'deathYear': None,
  'bats': 'R',
  'throws': 'R',
  'popularity': 0}]